* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Work+Sans:wght@500;700&display=swap");

/* Header styling starts */
.heading {
  background-position: center;
  background-size: cover;
  background: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
}
.header_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  gap: 300px;
  padding-top: 50px;
}

.header_container h1 {
  font-weight: 700;
  font-size: 25px;
  color: #131313;
}
.nav_bar ul li a {
  font-size: 20px;
  padding-left: 40px;
  color: #424242;
}

.banner_des {
  color: #131313;
  font-size: 35px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.banner_des h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.banner_des p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn {
  margin: 20px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 120px;
  height: 50px;
  background: #ff900e;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.images {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.img1 {
  width: 80%;
}
/* Header ends here */

/* Main starts */
/* Feature section styling */
.feature {
  width: 75%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}
.full {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  align-items: center;
}
.photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
}
.pic img {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.pic {
  width: 100%;
}

.feat {
  font-weight: 500;
  font-size: 45px;
  padding-top: 20px;
  color: #727272;
}
.text p {
  color: #727272;
}
.kala {
  color: #131313;
  font-weight: 700;
}
.komla {
  color: #ff900e;
  font-weight: 700;
}

/* Second feature section styling starts here */

.both {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.first {
  width: 50%;
}
.first img {
  width: 100%;
}
.first .block {
  width: 100%;
}

.first h1 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  border-left: 3px solid #ff900e;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.first .fet_pera {
  padding-bottom: 775px;
}
.block .opt {
  width: 100%;
}
.opt {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 40px;
  padding: 15px;
}

.opt h4 {
  font-size: 20px;
  font-weight: 600;
}
.first {
  position: relative;
}

.exp {
  background: #ff900e;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 8px;
  position: absolute;
  padding: 20px;
  bottom: 20px;
  left: -60px;
}
.exp h4 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.exp p {
  font-size: 15px;
}

/* Facts styling starts here */
.facts {
  width: 80%;
  justify-content: center;
}
.fact_heading {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-top: 150px;
  padding-bottom: 10px;
}

.facts p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  gap: 124px;
}

.sfb {
  width: 180px;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: 0.5s;
}
.sfb:hover {
  transform: scale(1.3);
  z-index: 1;
}
.sfb img {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 65px;
}

.num {
  text-align: center;
}
.des {
  text-align: center;
}

/* Projects */
.proj_container {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.pro_box {
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0, 0.1);
  transition: 0.5s;
}
.pro_box:hover {
  transform: scale(1.3);
  z-index: 1;
}
.pro_box img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.project-title {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 3px solid #ff900e;
  width: 300px;
  margin: 0 auto;
}
.pro_des {
  margin-top: 10px;
  text-align: center;
}

/* Sponsors */
.container {
  display: flex;
  flex-direction: column;
}
.sp {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  text-align: center;
}
.desc {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  padding-top: 20px;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.gray {
  filter: grayscale(100%);
}

/* Footer style */
.right {
  margin-top: 100px;
  background: #fff4e7;
  padding: 10px;
  display: flex;
  width: 1100px;
  color: #424242;
  margin-bottom: 50px;
}

/* Responsive code for nav_bar and banner */
@media screen and (max-width: 576px) {
  .header_container {
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }
  .nav_bar ul li a {
    display: block;
    padding-left: 0px;
  }
  .full {
    flex-direction: column;
  }
  .photo {
    grid-template-columns: repeat(1, 1fr);
  }
  .both {
    flex-direction: column;
  }

  .box {
    flex-direction: column;
  }

  .proj_container {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
  .logos {
    flex-direction: column;
  }
  .right {
    flex-direction: column;
    width: 80%;
  }
}

/* Responsive code for nav_bar and banner ends here */
